<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
    <link rel="stylesheet" href="../animation.css">
    <script src="https://kit.fontawesome.com/206f09d006.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Projeler</title>
</head>
<body>
    <div id="load">
        <i id="watch" class="fa-solid fa-hourglass-start"></i>
        <div id="a"></div>
        <div id="b"></div>
        <div id="c"></div>
    </div>
    <header>
        <img src="../images/ranvals.png" alt="">
        <button onclick="window.location.href='/'">Home Page</button>
    </header>
    <div id="main">
        <div id="main-wrapper">
            <h1>Welcome To Ranval's </h1>
            <h1 id="main-title"></h1>
            <h3>Discover Our World With Our Unique Projects</h3>
        </div>
    </div>
    <div class="title-v1">
        <h2>What We Do</h2>
    </div>
    <br>
    <div class="contain">
        <div class="contain-wrapper">
            <div class="cards" data-aos="fade-up" data-aos-duration="1100">
               <div class="card-first">
                    <img src="../images/web.gif" />
               </div><br>
               <div class="card-second">
                    <h3>Web Design</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
               </div>
            </div>
            <div class="cards" data-aos="fade-down" data-aos-duration="1100">
                <div class="card-first">
                     <img src="../images/game.gif" />
                </div><br>
                <div class="card-second">
                     <h3>Game</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
             </div>
             <div class="cards" data-aos="fade-up" data-aos-duration="1100">
                <div class="card-first">
                     <img src="../images/mobile.gif" />
                </div><br>
                <div class="card-second">
                     <h3>Mobile Design</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
             </div>
        </div>
    </div>
    <br>
    <div class="title-v1">
        <h2>Our Projects</h2>
    </div>
    <div class="contain">
        <div class="contain-wrapper" >
            <div class="project-card" data-aos="fade-left" data-aos-duration="1100">
                <div class="project-card-wrapper">
                    <div class="project-card-field">
                        <h6>Game</h6>
                    </div>
                    <div class="project-card-main">
                        <img src="../images/game.jpg"/>
                    </div>
                </div>
                <div class="description">
                    <h3>Game Name</h3>
                </div>
            </div>
            <div class="project-card" data-aos="fade-up" data-aos-duration="1100">
                <div class="project-card-wrapper">
                    <div class="project-card-field">
                        <h6>Game</h6>
                    </div>
                    <div class="project-card-main">
                        <img src="../images/game2.jpeg"/>
                    </div>
                </div>
                <div class="description">
                    <h3>Game Name</h3>
                </div>
            </div>
            <div class="project-card" data-aos="fade-down" data-aos-duration="1100">
                <div class="project-card-wrapper">
                    <div class="project-card-field">
                        <h6>Game</h6>
                    </div>
                    <div class="project-card-main">
                        <img src="../images/game3.webp"/>
                    </div>
                </div>
                <div class="description">
                    <h3>Game Name</h3>
                </div>
            </div>
            <div class="project-card" data-aos="fade-right" data-aos-duration="1100">
                <div class="project-card-wrapper">
                    <div class="project-card-field">
                        <h6>Game</h6>
                    </div>
                    <div class="project-card-main">
                        <img src="../images/game4.jpg"/>
                    </div>
                </div>
                <div class="description">
                    <h3>Game Name</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-comments">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                    <div class="comments">
                        <div class="comments-img" data-aos="flip-left">
                            <img src="../images/pp.jpeg" alt="">
                        </div>
                        <div class="comments-title">
                            <h2>Rıdvan Demirhan</h2>
                        </div>
                        <div class="comments-description">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                <div class="comments">
                    <div class="comments-img">
                        <img src="../images/pp2.jpeg" alt="">
                    </div>
                    <div class="comments-title">
                        <h2>Melikşah</h2>
                    </div>
                    <div class="comments-description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="comments">
                <div class="comments-img">
                    <img src="../images/pp3.jpg" alt="">
                </div>
                <div class="comments-title">
                    <h2>Özgür Ergin</h2>
                </div>
                <div class="comments-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
      </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
    </div>
    <div class="title-v1">
        <h2>Our Team</h2>
    </div>
    <div class="contain">
        <div class="contain-wrapper" >
            <div class="our-team" data-aos="zoom-in-right">
                <div class="our-team-img" >
                    <img src="../images/outT.jpg" alt="">
                </div>
                <div class="our-team-desc">
                    <h3>Ridvan Demirhan</h3>
                </div>
            </div>
            <div class="our-team" data-aos="zoom-in-down">
                <div class="our-team-img" >
                    <img src="../images/outT2.jpg" alt="">
                </div>
                <div class="our-team-desc">
                    <h3>Özgür Ergin</h3>
                </div>
            </div>
            <div class="our-team" data-aos="zoom-in-up">
                <div class="our-team-img" >
                    <img src="../images/ourT3.jpeg" alt="">
                </div>
                <div class="our-team-desc">
                    <h3>Melikşah</h3>
                </div>
            </div>
            <div class="our-team" data-aos="zoom-in-left">
                <div class="our-team-img" >
                    <img src="../images/ourT4.jpg" alt="">
                </div>
                <div class="our-team-desc">
                    <h3>Necati</h3>
                </div>
            </div>

        </div>
    </div>
    <div class="title-v1">
        <h2>Contact</h2>
    </div>
    <div id="contact">
        <button id="contact-button" >Now! Contact Us</button>
    </div>
    <footer>
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/components/about.html">Hakkımızda</a></li>
            <li><a href="/components/project.html">Projeler</a></li>
            <li><a href="/components/contact.html">İletişim</a></li>
        </ul>
    </footer>
    <script type="text/javascript" src="../js/animation.js" ></script>
    <script type="text/javascript" src="../include/vanilla-tilt.min.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelector("#contact-button"), {
            max: 25,
            speed: 400
        });
        
    </script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script>
        new Typewriter('#main-title', {
            strings: [' Universe'],
            autoStart: true,
            loop : true,
            skipAddStyles : true
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
  loop : true,
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },
  slidesPerView: 1,
  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }
});
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>