@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    --swiper-theme-color: #C84B31;
}
body{
    
    background-color: #06283D;

}
header{
    width: 100%;
    height: 100px;
    align-items: center;
    position: absolute;
    background: none;
    display: flex;
    justify-content: space-around;
    z-index: 99;
}
header img { 
    max-height: 100%;
}
header button {
    padding: 12px 30px;
    color: white;
    border: none;
    background-color:#06283D ;
}

#main { 
  background: rgba(0, 0, 0, .75) url('../images/game.webp');
  width: 100%;
  min-height: 570px;
  background-size: cover;                    
  background-repeat:   no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: left;
  margin: auto;
  align-items: center;
  background-blend-mode: darken;
}
#main-wrapper {
    margin-left: 10%;
}
#main-wrapper h1 {
    color: white;
    font-size: 45px;
}
#main-wrapper h3{
    color: white;
    margin-top: 40px;
    font-size: 22px;
}
.Typewriter__wrapper{
    color: #0F3460;
}
.title-v1{
    display: flex;
    justify-content: center;
    margin: 25px auto auto auto;
    width: 165px;
    padding: 8px 6px;
    border-radius: 6px;
    background-color: #0F3460;
    position: relative;
}
.title-v1::after{
    content: '';
    left: -7px;
    top: -6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    background-color: #0F3460;
    position: absolute;
}
.title-v1::before{
    content: '';
    right: -7px;
    bottom: -6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    background-color: #0F3460;
    position: absolute;
}
.title-v1 h2{
    color: white;
}
.contain{
    width: 70%;
    height: auto;
    margin: 35px auto 35px auto;
}
.contain-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards{
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    min-height: 200px;
    background-color: #0F3460;
    border-radius: 30px;
    padding: 25px 14px;
    overflow: hidden;
    position: relative;
}
.cards:nth-child(3)::after{
    content: '';
    width: 250px;
    height: 250px;
    background-color: #C84B31;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    z-index: 0;
    right: -100px;
    border: 4px solid white;
}
.cards:nth-child(2)::after{
    content: '';
    width: 250px;
    height: 250px;
    background-color: #C84B31;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    z-index: 0;
    left: -5px;
    right: 0;
    border: 4px solid white;
}
.cards:nth-child(1)::after{
    content: '';
    width: 250px;
    height: 250px;
    background-color: #C84B31;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    z-index: 0;
    border: 4px solid white;
    left: -100px;
}
.cards:hover { 
    transition-duration: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*animation: borderAnimate 2.5s linear infinite;*/
}
@keyframes borderAnimate {
    0%{
        border: 2px solid white;
    }
    50%{
        border: 2px solid #003865;
    }
    100%{
        border: 2px solid white;
    }
}
.card-first{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-first img { 
    width: 70%;
    z-index: 4;
}
.card-second{
    width: 100%;
}
.card-second h3,p{
    text-align: center;
    color: #ECDBBA;
    font-weight: 500;
}
.card-second p{
    color: #ECDBBA;
    font-size: 13px;
    margin-top: 4px;
    line-height: 19px;
}
.project-card{
    width: 180px;
}
.project-card-wrapper{
    position: relative;
    width: 100%;
    height: 300px;
    border: 3px solid #0F3460;
    border-radius: 50px 4px 50px 4px ;
    overflow: hidden;
}
.project-card-wrapper:hover .project-card-main{
    width: 110%;
    height: 110%;
    transition: 0.3s;
    position: relative;
} 
.project-card-field {
    top: 15px;
    left: 15px;
    position: absolute;
     padding: 15px 8px;
     border-radius: 50%;
     background-color: #C84B31;
     z-index: 99;
}
.project-card-field h6{
    color: white;
    font-size: 10px;
}
.project-card-main{
    width: 100%;
    height: 100%;
}
.project-card-main img{
    width: 100%;
    height: 100%;
}
.description{
    position: relative;
    top: -40px;
    height: 17px;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 50px 4px;
    border: 3px solid #0F3460;
    padding: 30px 0;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.description h3{
    color: white;
    margin-top: 12px;
    font-weight: 500;
}
.description::before{
    content: '';
    width: 40px;
    height: 40px;
    border: 5px solid white;
    left: -20px;
    bottom: -20px;
    position: absolute;
    border-radius: 50%;
}
.description::after{
    content: '';
    width: 50px;
    height: 50px;
    border: 5px solid white;
    right: -20px;
    top: -10px;
    position: absolute;
    border-radius: 50%;
}
.projects-comments{
    background: rgba(0, 0, 0, .75) url('../images/game.webp');
    width: 100%;
    height: 350px;
    background-size: cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    position: relative;
    background-blend-mode: darken;
    padding: 20px 0;
}
.swiper {
    width: 100%;
    height: 100%;
  }
.comments{
    width: 100%;
    height: 100%;
    padding-top: 45px;
}
.comments h2{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.comments-img img{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin: auto;
    border: 2px solid white;
}
.swiper-button-next{
    color: #C84B31;
}
.our-team{
    width: 150px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.our-team h3{
    text-align: center;
    color: white;
}
.our-team img{
    border-radius: 12px;
    width: 100%;
    height: 150px;
}
#contact{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
#contact button { 
    transition-duration: 0.4s;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 55px;
    outline: none;
    color: white;
    background-image: linear-gradient(to right top, #256d85, #155f7e, #095175, #08426b, #0f3460);
}
#contact button:hover { 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
footer {
    padding: 10px 0;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li {
    list-style-type: none;
    margin: 8px;
}
footer ul li a{
    color: #CFD2CF;
    text-decoration: none;
}
@media only screen and (max-width:1060px) {
    .cards{
        margin-bottom: 30px;
    }
    .our-team img{
        height: auto;
    }
    .our-team{
        width: 130px;
    }
}
@media only screen and (max-width:450px) {
    .cards{
        margin-bottom: 30px;
    }
    .our-team img{
        height: auto;
    }
    .our-team{
        width: 100px;
    }
}